body {
    font-family: monospace;
    font-size: 24px;
    background-color: #1b1b1b;
    color: white;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
    display: block;
}

#title {
    text-align: center;
}

.definitelynotadirectory {
    margin-bottom: 0.5em;
}

.adventures {
    margin-top: 0.5em;
}

.adventure {
    list-style-type: "- ";
    margin-bottom: 0.5em;
}

.adventure:hover {
    list-style-type: "> ";
}

.comment {
    color: #858585;
}

.reallyhoverthis:hover .reallyshowthat {
    visibility: visible;
}

.reallyshowthat {
    visibility: hidden;
}

.link:link, .link:visited {
    text-decoration: none;
    color: inherit;
}

.link:hover, .link:visited:hover {
    text-decoration: underline;
}

.hoverthis:hover + .showthat {
    color: #8cb4ff;
}

.showthat:hover {
    color: #8cb4ff;
}

.showthat {
    color: #858585;
}
